/* this is a style sheet */
* {
    font-size: x-large;
}

head {
    font-kerning: auto;
}

body {
    font-kerning: auto;
    background-color: #212121;
}

div {
    align-items: center;
}

.keypad {
    /* display: ; */
}

.misc {
    /* display: ; */
}

.operations {
    /* display: ; */
}

#calc {
    margin: auto;

}

